.container{
    justify-content: center;
    align-items: center;
}

.selection{
    margin-left: 110px;
    margin-right: 110px;
    color: #FB8E0B;
}

.skill-input{
    background-color: white;
    width: 100%;
    line-height: 3em;
    box-sizing: border-box;
    border-radius: 10px;
}

.hidden{
    visibility: hidden;
}

.remove-skills{
    cursor: pointer;
}
.buttonTop{
    text-align: center;
    background-color: #FB8E0B;
    margin-top: 60px;
    font-family: var(--font-family);
}
